<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esdesign.vietnamz" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home_Activity"
            android:label="@string/title_activity_home_" >
        </activity>
        <activity
            android:name=".Menu_Activity"
            android:label="@string/title_activity_menu_" >
        </activity>
        <activity
            android:name=".Localtion_Activity"
            android:label="@string/title_activity_localtion_" >
        </activity>
        <activity
            android:name=".Service_Activity"
            android:label="@string/title_activity_service_" >
        </activity>
        <activity
            android:name=".Home_Ativity.Detail_Area"
            android:label="@string/title_activity_detail__area" >
        </activity>
    </application>

</manifest>
